#navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100;
  align-items: center;
  font-family: "Copperplate", fantasy;
}
#navbar h3 {
  margin-left: 150px;
}
/* Navbar links */
#navbar a,
h3,
h4,
form {
  display: inline;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#text {
  vertical-align: top;
  display: inline-block;
}

#text p {
  margin: 0;
  padding: 0;
}
.btn {
  background: transparent;
  color: white;
  font-size: 15px;
  font-family: "Copperplate", fantasy;
}
#sectionContainer {
  margin: 0;
  padding: 20px;
  border: 1px solid #000000;
  color: #ffffff;
}
.username {
  color: black;
  font-family: "Copperplate", fantasy;
  font-weight: bold;
}
.log {
  text-decoration: underline;
  color: black;
  margin-left: 15px;
  font-family: "Copperplate", fantasy;
}
header {
  margin: 0;
  padding: 2px;
  border: 1px solid #000000;
}
header > a > i {
  text-decoration: none;
  color: #000000;
}
.goHome > a > i {
  color: #000000;
  margin-left: 30px;
  text-decoration: none;
  font-size: 20px;
}
.headText {
  color: #000000;
  font-family: "Copperplate", fantasy;
  text-align: center;
  font-size: 30px;
}
#sectionContainer {
  background: #000000;
  font-family: "Copperplate", fantasy;
  height: 100px;
}
#sectionContainer .pic {
  border-radius: 50%;
  width: 100px;
  vertical-align: middle;
  margin-left: 50px;
}
#sectionContainer .text {
  text-align: center;
  display: inline-block;
  margin-left: 15px;
  color: lightblue;
}
#sectionContainer .followBtn {
  background: transparent;
  border-width: 4px;
  color: lightblue;
  font-size: 15px;
  margin-right: -20px;
  font-family: "Copperplate", fantasy;
}
.info {
  float: left;
  margin-right: 15px;
}
.following {
  float: right;
  font-family: "Copperplate", fantasy;
}
td,
th {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
th {
  font-size: 12px;
}
body {
  background: lightblue;
  width: 98vw;
  margin-bottom: 50px;
}
.feedContianer {
  background-color: lightblue;
}
.feedTitle {
  color: #000000;
  font-family: "Copperplate", fantasy;
  text-align: center;
  font-size: 16px;
  margin-top: 0px;
}
#photoGrid {
  display: grid;
  color: #000000;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 8px;
  grid-column-gap: 8%;
  margin: auto;
  background: #ffffff;
}
.post {
  width: 300px;
  height: 350px;
  border: 2px solid black;
  max-width: 90%;
  height: auto;
}

.postFeed {
  border: 1px solid black;
  padding: 15px;
  width: 40%;
  margin: auto;
  background: white;
  color: black;
  margin-top: 5px;
}
.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-family: "Copperplate", fantasy;
  color: black;
  font-weight: bold;
}
.postuser-info {
  text-align: left;
  margin: 10px;
  font-family: "Copperplate", fantasy;
  color: black;
  font-weight: bold;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.actions button {
  cursor: pointer;
  font-family: "Copperplate", fantasy;
}
.viewPost {
  border: 2px solid black;
  padding: 15px;
  margin: 20px;
  background-color: white;
}
.postText {
  display: block;
  text-align: center;
}

.commentsTitle {
  font-family: "Copperplate", fantasy;
  color: #000000;
  display: block;
  text-align: center;
  margin: 0px;
}
.viewLike {
  display: block;
  text-align: right;
}
.commentActions {
  text-align: right;
}

footer {
  background-color: black;
  color: white;
  font-family: "Copperplate", fantasy;
  background-attachment: scroll;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding-top: 20px;
  padding-left: 15px;
}
.notification {
  font-family: "Copperplate", fantasy;
  color: black;
}
.login-signin {
  font-family: "Copperplate", fantasy;
  color: black;
  text-align: center;
  font-size: 30px;
}
.inForm {
  font-family: "Copperplate", fantasy;
  color: black;
  margin-bottom: -10px;
}
.inForm div {
  padding: 5px;
}
.followtext > a {
  text-decoration: none;
  font-family: "Copperplate", fantasy;
  color: white;
}
