{% extends 'base.html' %} {% block content %}
<header>
  <div id="navbar">
    <div id="profile">
      <div id="text">
        <p>
          <a href="{{ url_for('main.profileIndex', user_id=current_user.id) }}"
            >My Profile</a
          >
        </p>
      </div>
    </div>
    <h3>Feed</h3>

    <form action="{{ url_for('main.new_post') }}" method="post">
      <input type="text" name="text" required />
      <button class="btn"><i class="fa fa-plus-circle"></i> New Post</button>
    </form>
  </div>
</header>

<section class="feedContainer">{% include 'posts_template.html' %}</section>
{% endblock %}
