{% extends 'base.html' %} {% block content %}
<header>
  <div id="navbar">
    <form>
      <button class="btn"><i class="fa fa-plus-circle"></i> New Post</button>
    </form>
    <h3>Feed</h3>
    <div id="profile">
      <img src="static/profile2.jpeg" alt="profile picture" class="pic" />
      <div id="text">
        <h4>@amandam1102</h4>
        <p>
          <a href="{{ url_for('main.profileIndex') }}"
            ><small>Profile</small></a
          >
        </p>
      </div>
    </div>
  </div>
</header>

<section class="feedContainer">
  <h2 class="feedTitle">Latest posts from the people you follow</h2>
  {% include 'posts_template.html' %}
</section>
{% endblock %}
