<div class="viewPost">
  <div class="user-info">
    <img src="static/profile.jpeg" alt="Username's Profile Picture" />
    <span>@user1</span>
  </div>
  <figure>
    <img src="static/feed1.jpeg" alt="Instagram Post" />
    <figcaption>Beautiful plaza de Espana in Sevilla!</figcaption>
  </figure>
  <div>
    <button class="like-btn"><i class="fa fa-heart"></i> Like</button>
  </div>
</div>
<h3 class="commentsTitle">Comments</h3>
{% for comment in comments %} {% include 'comment_template.html' %} {% endfor %}
