<div class="goHome">
  <a href="{{ url_for('main.index') }}"><i class="fa fa-home"></i></a>
</div>
<div class="viewPost">
  <a href="{{ url_for('main.profileIndex', user_id=post.user.id) }}"
    ><div class="postuser-info">{{ post.user.email }}</div></a
  >
  <div class="postText">{{post.text}}</div>
  <div class="viewLike">
    <button><i class="fa fa-heart"></i> Like</button>
  </div>
</div>
<div class="commentsTitle">
  <h3 class="commentsTitle">Comments</h3>
  <form
    method="POST"
    action="{{ url_for('main.new_comment', message_id=post.id) }}"
  >
    <input type="text" name="text" required />
    <button type="submit" class="btn">
      <i class="fa fa-plus-circle"></i> Add Comment
    </button>
  </form>
</div>

{% for comment in comments %} {% include 'comment_template.html' %} {% endfor %}
