<div class="postFeed">
  <div class="user-info">
    <img src="{{post.user.imgProf}}" alt="Username's Profile Picture" />
    <span>{{ post.user.handle }}</span>
  </div>
  <figure>
    <img class="post-img" src="{{post.imgPost}}" alt="Instagram Post" />
    <figcaption>{{post.text}}</figcaption>
  </figure>
  <div class="actions">
    <button class="like-btn"><i class="fa fa-heart"></i> Like</button>
    <a href="{{ url_for('main.messageIndex', post_id=post.post_id) }}"
      ><button>View Post</button></a
    >
  </div>
</div>
