{% extends 'base.html' %} {% block content %} {% with messages =
get_flashed_messages() %} {% for message in messages %}
<div class="notification">{{ message }}</div>
{% endfor %} {% endwith %}
<div class="auth-form">
  <h2 class="formTitle">Log In</h2>
  <form class="inForm" action="{{ url_for('auth.login') }}" method="post">
    <div>
      <label>Email: <input type="email" name="email" required /></label>
    </div>
    <div>
      <label
        >Password: <input type="password" name="password" required
      /></label>
    </div>
    <div><input class="follow-btn" type="submit" value="Log In" /></div>
    <div>
      <a class="login-signup" href="{{ url_for('auth.signup') }}"
        ><small>Sign Up</small></a
      >
    </div>
  </form>
</div>

{% endblock %}
