{% extends 'base.html' %} {% block content %}
<div class="navbar">
  <div class="btn-group" id="btn-group"></div>
  <div class="feedTitle" id="feedTitle">Baking Needs</div>
  <div class="right-flex"></div>
</div>
<div class="grid-container">
  <div class="grid-item">
    <a
      href="https://www.crateandbarrel.com/french-kitchen-marble-rolling-pin-with-stand/s141348"
      ><img
        class="merch-img"
        src="{{ url_for('static', filename='merch/rolling-pin.png') }}"
        alt="merch"
    /></a>
    <div>Marble Rolling Pin</div>
  </div>
  <div class="grid-item">
    <a
      href="https://www.crateandbarrel.com/french-kitchen-marble-pastry-slab/s285048"
      ><img
        class="merch-img"
        src="{{ url_for('static', filename='merch/pastry-slab.png') }}"
        alt="merch"
    /></a>
    <div>Pastry Slab</div>
  </div>
  <div class="grid-item">
    <a
      href="https://www.crateandbarrel.com/kitchenaid-artisan-series-blue-velvet-5-quart-tilt-head-stand-mixer/s236975"
      ><img
        class="merch-img"
        src="{{ url_for('static', filename='merch/stand-mixer.png') }}"
        alt="merch"
    /></a>
    <div>Stand Mixer</div>
  </div>
  <div class="grid-item">
    <a
      href="https://www.crateandbarrel.com/stainless-steel-flour-sifter/s453732"
      ><img
        class="merch-img"
        src="{{ url_for('static', filename='merch/flour-sifter.png') }}"
        alt="merch"
    /></a>
    <div>Flour Sifter</div>
  </div>
  <div class="grid-item">
    <a
      href="https://www.crateandbarrel.com/crate-and-barrel-navy-silicone-and-wood-utensils/f1018287"
      ><img
        class="merch-img"
        src="{{ url_for('static', filename='merch/utensils.png') }}"
        alt="merch"
    /></a>
    <div>Silicone Utensils</div>
  </div>
  <div class="grid-item">
    <a
      href="https://www.crateandbarrel.com/beechwood-and-stainless-steel-measuring-cups/s395264"
      ><img
        class="merch-img"
        src="{{ url_for('static', filename='merch/measuring-cups.png') }}"
        alt="merch"
    /></a>
    <div>Measuring Cups</div>
  </div>
  <div class="grid-item">
    <a
      href="https://www.crateandbarrel.com/fern-white-ceramic-batter-bowl/s232192"
      ><img
        class="merch-img"
        src="{{ url_for('static', filename='merch/bowl.png') }}"
        alt="merch"
    /></a>
    <div>Ceramic Mixing Bowl</div>
  </div>
  <div class="grid-item">
    <a
      href="https://www.crateandbarrel.com/cookie-spatulas-set-of-three/s198376"
      ><img
        class="merch-img"
        src="{{ url_for('static', filename='merch/spatulas.png') }}"
        alt="merch"
    /></a>
    <div>Cookie Spatulas</div>
  </div>

  <div class="grid-item">
    <a
      href="https://www.crateandbarrel.com/cookie-dough-scoops-set-of-3/s367094"
      ><img
        class="merch-img"
        src="{{ url_for('static', filename='merch/scoops.png') }}"
        alt="merch"
    /></a>
    <div>Cookie Dough Scoops</div>
  </div>
</div>
<div class="grid-container">
  <div class="grid-item">
    <a
      href="https://www.crateandbarrel.com/crate-and-barrel-slate-blue-10-piece-non-stick-bakeware-set/s141366"
      ><img
        class="merch-img"
        src="{{ url_for('static', filename='merch/bakeset.png') }}"
        alt="merch"
    /></a>
    <div>Bakeware Set</div>
  </div>
  <div class="grid-item">
    <a
      href="https://www.crateandbarrel.com/le-creuset-chambray-5-piece-stoneware-set/s130436"
      ><img
        class="merch-img"
        src="{{ url_for('static', filename='merch/panset.png') }}"
        alt="merch"
    /></a>
    <div>Baking Dish Set</div>
  </div>
  <div class="grid-item">
    <a
      href="https://www.crateandbarrel.com/10-piece-2.25-10.25-glass-nesting-bowl-set/s591303"
      ><img
        class="merch-img"
        src="{{ url_for('static', filename='merch/nesting-bowls.png') }}"
        alt="merch"
    /></a>
    <div>Nesting Bowls</div>
  </div>

  {% endblock %}
</div>
