{% extends 'base.html' %} {% block content %}
<div class="navbar">
  <div class="btn-group">
    <button class="button" id="latest">Latest</button>
    <button class="button" id="rated">Highest Rated</button>
    {% if current_user.is_authenticated: %}
    <button class="button" id="followers">Followers</button>
    <button class="button" id="bookmarked">Bookmarked</button>

    {% endif %}
  </div>
  <div class="feedTitle">Latest Posts</div>
  {% if current_user.is_authenticated: %}
  <div class="nav-right">
    <span>
      <form action="{{ url_for('main.recipeForm') }}" method="get">
        <button class="home-newRec">
          <i class="fa fa-plus-circle"></i> New Recipe
        </button>
      </form>
    </span>
    <span>
      <a
        href="{{ url_for('main.userView', user_id=current_user.id) }}"
        class="home-profile"
        >My Profile</a
      >
    </span>
  </div>
  {% endif %}
</div>
<div class="feedContent">
  <div id="time-feed">
    {% for post in timeFeed %} {% include 'post_template.html' %} {% endfor %}
  </div>
  <div id="bookmark-feed">
    {% for post in bookmarkFeed %} {% include 'post_template.html' %} {% endfor
    %}
  </div>
  <div id="follower-feed">
    {% for post in followerFeed %} {% include 'post_template.html' %} {% endfor
    %}
  </div>
  <div id="rating-feed">
    {% for post in ratingFeed %} {% include 'post_template.html' %} {% endfor %}
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("latest").addEventListener("click", function () {
      const feedTitle = document.querySelector(".feedTitle");
      feedTitle.textContent = "Latest Posts";
      document.getElementById("time-feed").style.display = "block";
      document.getElementById("follower-feed").style.display = "none";
      document.getElementById("bookmark-feed").style.display = "none";
      document.getElementById("rating-feed").style.display = "none";
    });
    if (!!document.getElementById("followers")) {
      document
        .getElementById("followers")
        .addEventListener("click", function () {
          const feedTitle = document.querySelector(".feedTitle");
          feedTitle.textContent = "Posts from Following";
          document.getElementById("time-feed").style.display = "none";
          document.getElementById("follower-feed").style.display = "block";
          document.getElementById("bookmark-feed").style.display = "none";
          document.getElementById("rating-feed").style.display = "none";
        });
    }
    if (!!document.getElementById("bookmarked")) {
      document
        .getElementById("bookmarked")
        .addEventListener("click", function () {
          const feedTitle = document.querySelector(".feedTitle");
          feedTitle.textContent = "Bookmarked Posts";
          document.getElementById("time-feed").style.display = "none";
          document.getElementById("follower-feed").style.display = "none";
          document.getElementById("bookmark-feed").style.display = "block";
          document.getElementById("rating-feed").style.display = "none";
        });
    }
    document.getElementById("rated").addEventListener("click", function () {
      const feedTitle = document.querySelector(".feedTitle");
      feedTitle.textContent = "Highest Rated Posts";

      document.getElementById("time-feed").style.display = "none";
      document.getElementById("follower-feed").style.display = "none";
      document.getElementById("bookmark-feed").style.display = "none";
      document.getElementById("rating-feed").style.display = "block";
    });
  });
</script>
{% endblock %}
