{% extends 'base.html' %} {% block content %}
<div id="navbar">
  <h3>Feed</h3>

  {% if current_user.is_authenticated: %}
  <div id="profile">
    <a href="{{ url_for('main.userView', user_id=current_user.id) }}"
      >My Profile</a
    >
    <form action="{{ url_for('main.recipeForm') }}" method="get">
      <button class="btn"><i class="fa fa-plus-circle"></i> New Recipe</button>
    </form>
    {% endif %}
  </div>
</div>
<section class="feedContainer">
  <div class="btn-group">
    <button class="button" id="latest">Latest</button>
    <button class="button" id="rated">Highest Rated</button>
    {% if current_user.is_authenticated: %}
    <button class="button" id="followers">Followers</button>
    <button class="button" id="bookmarked">Bookmarked</button>

    {% endif %}
  </div>
  <div class="feedTitle">Latest posts</div>
  <div class="feedContent">
    <div id="timeFeed">
      {% for post in timeFeed %} {% include 'post_template.html' %} {% endfor %}
    </div>
    <div id="bookmarkFeed">
      {% for post in bookmarkFeed %} {% include 'post_template.html' %} {%
      endfor %}
    </div>
    <div id="followerFeed">
      {% for post in followerFeed %} {% include 'post_template.html' %} {%
      endfor %}
    </div>
    <div id="ratingFeed">
      {% for post in ratingFeed %} {% include 'post_template.html' %} {% endfor
      %}
    </div>
  </div>
</section>
{% if login: %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("latest").addEventListener("click", function () {
      const feedTitle = document.querySelector(".feedTitle");
      feedTitle.textContent = "Latest posts";
      document.getElementById("timeFeed").style.display = "block";
      document.getElementById("followerFeed").style.display = "none";
      document.getElementById("bookmarkFeed").style.display = "none";
      document.getElementById("ratingFeed").style.display = "none";
    });

    document.getElementById("followers").addEventListener("click", function () {
      const feedTitle = document.querySelector(".feedTitle");
      feedTitle.textContent = "Latest posts from the people you follow";
      document.getElementById("timeFeed").style.display = "none";
      document.getElementById("followerFeed").style.display = "block";
      document.getElementById("bookmarkFeed").style.display = "none";
      document.getElementById("ratingFeed").style.display = "none";
    });

    document
      .getElementById("bookmarked")
      .addEventListener("click", function () {
        const feedTitle = document.querySelector(".feedTitle");
        feedTitle.textContent = "Latest bookmarked posts";
        document.getElementById("timeFeed").style.display = "none";
        document.getElementById("followerFeed").style.display = "none";
        document.getElementById("bookmarkFeed").style.display = "block";
        document.getElementById("ratingFeed").style.display = "none";
      });

    document.getElementById("rated").addEventListener("click", function () {
      const feedTitle = document.querySelector(".feedTitle");
      feedTitle.textContent = "Highest rated posts";

      document.getElementById("timeFeed").style.display = "none";
      document.getElementById("followerFeed").style.display = "none";
      document.getElementById("bookmarkFeed").style.display = "none";
      document.getElementById("ratingFeed").style.display = "block";
    });
  });
</script>
{% endif %} {% endblock %}
