{% extends 'base.html' %} {% block content %}
<div class="viewPost">
  {% include 'post_template.html' %}
  <div class="commentsTitle">
    <h3 class="commentsTitle">Photos</h3>
    {% if login %}
    <form
      method="post"
      enctype="multipart/form-data"
      action="{{ url_for('main.photo_upload', recipe_id=post.id) }}"
    >
      <input type="file" name="photo" accept="image/jpeg,image/png" required />
      <input type="hidden" name="recipe_id" value="{{post.id}}" />
      <button type="submit" class="photo-btn">
        <i class="fa fa-camera"></i> Submit Photo
      </button>
    </form>
    {% endif %}
  </div>

  {% for photo in photos %} {% include 'photo_template.html' with context %} {%
  endfor %}
</div>
{% endblock %}
