<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Recipe App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <header>
    {% if current_user.is_authenticated: %}
    <div>
      <h4 class="username">@{{current_user.name}}</h4>
    </div>
    <div>
      <a class="log" href="{{ url_for('auth.logout') }}"
        ><small>Logout</small></a
      >
    </div>
    {% else %}
    <div>
      <a class="log" href="{{ url_for('auth.login') }}"
        ><small>Log In</small></a
      >
    </div>
    {% endif %}
  </header>

  <body>
    {% block content %}{% endblock %}
    <footer class="homeFooter">
      <small>Developed for Web applications</small>
    </footer>
  </body>
</html>
