<div class="post">
  <a href="{{ url_for('main.userView', user_id=post.user.id) }}"
    ><div class="user-info">@{{ post.user.name }}</div></a
  >
  <div class="postTitle">{{post.title}}</div>
  <div class="postDescription">{{post.description}}</div>
  <div class="cooktime">Cook Time: {{post.cooktime}}</div>
  <div class="servings">Servings: {{post.servings}}</div>
  <ul class="ingredientContainer">
    {% for qingredient in post.qingredients %}
    <li>
      <pre>
{{qingredient.ingredient.name}}    {{qingredient.amount}} {{qingredient.measure}}</pre
      >
    </li>
    {% endfor %}
  </ul>
  <ol class="stepContainer">
    {% for step in post.steps %}
    <li>
      {{step.text}}
    </li>
    {% endfor %}
  </ul>
  <div class="avgRating">Rating: {{post.calculate_average_rating()}}<i class="fa fa-star"></i> ({{(post.ratings|length)}})</div>
  <div class="actions">
    {% if not recipeView%}
    <a href="{{ url_for('main.recipeView', recipe_id=post.id) }}"
      ><button><i class="fa fa-eye"></i>View Recipe</button></a
    >
    {% endif %}
    {% if login and recipeView %}
      {% if bookmarked %}
        <button class="bookmark-btn">
          <i class="fa fa-check"></i> bookmarked
        </button>
      {% else %}
        <form action="{{ url_for('main.bookmark', recipe_id=post.id) }}" method="post"><button class="bookmark-btn">
          <i class="fa fa-bookmark"></i> bookmark
        </button></form>
      {% endif %}
      {% if rated %}
        <button class="rate-btn">
          <i class="fa fa-check"></i> rated
        </button>
      {% else %}
        <a href="{{ url_for('main.ratingForm', recipe_id=post.id) }}"><button class="rate-btn">
          <i class="fa fa-star"></i> add rating
        </button></a>
      {% endif %}
    {% endif %}
    
  </div>
</div>
