{% if login: %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    function includePostTemplate(list) {
      const postTemplate = ` {% for post in list %} {% include 'post_template.html' %} {% endfor %}`;
      return postTemplate;
    }
    document.getElementById("latest").addEventListener("click", function () {
      const feedTitle = document.querySelector(".feedTitle");
      feedTitle.textContent = "Latest posts"; // Change the text
      const feedContent = document.querySelector(".feedContent");
      feedContent.innerHTML = ""; // Clear the content
      // Loop through the 'timeFeed' and include the template
      feedContent.innerHTML += includePostTemplat(timeFeed);
    });
    document.getElementById("followers").addEventListener("click", function () {
      const feedTitle = document.querySelector(".feedTitle");
      feedTitle.textContent = "Latest posts from the people you follow"; // Change the text
      const feedContent = document.querySelector(".feedContent");
      feedContent.innerHTML = ""; // Clear the content
      // Loop through the 'followerFeed' and include the template
      feedContent.innerHTML += includePostTemplat(followerFeed);
    });
    document
      .getElementById("bookmarked")
      .addEventListener("click", function () {
        const feedTitle = document.querySelector(".feedTitle");
        feedTitle.textContent = "Latest bookmarked posts"; // Change the text
        const feedContent = document.querySelector(".feedContent");
        feedContent.innerHTML = ""; // Clear the content
        // Loop through the 'bookmarkFeed' and include the template
        feedContent.innerHTML += includePostTemplat(bookmarkFeed);
      });

    document.getElementById("rated").addEventListener("click", function () {
      const feedTitle = document.querySelector(".feedTitle");
      feedTitle.textContent = "Highest rated posts"; // Change the text
      const feedContent = document.querySelector(".feedContent");
      feedContent.innerHTML = ""; // Clear the content
      // Loop through the 'ratingFeed' and include the template
      feedContent.innerHTML += includePostTemplat(ratingFeed);
    });
  });
</script>
{% endif %}
